


<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti labore vel nesciunt expedita voluptate dignissimos unde ut? Optio doloribus cumque molestiae, non laudantium cum voluptatum, perferendis autem voluptates, natus architecto?</p>
</footer>