


<h1>add data</h1>
<form action="/submit" method="post">
    <label for="name">name: </label><br>
    <input type="text" name="name" id="name"><br>
    <label for="age">age: </label><br>
    <input type="text" name="age" id="age"><br>
    <input type="submit" value="submit">
</form>